* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
   height: 100%;
   width: 100%;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* header */

header {
  height: 60px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: end;
}

header ul {
  flex: 1;
  display: flex;
  gap: 15px;
  padding: 0 7px;
  justify-content: end;
  align-items: center;
}

header ul a:hover {
  text-decoration: underline;
}

header a {
  color: rgba(0,0,0,.87);
  font-size: 13px;
}

header button {
  border: none;
  border-radius: 100%;
  background-color: transparent;
  
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 3px;
  height: 37px;
  width: 37px;

  cursor: pointer;
}

.apps-button svg {
  height: 80%;
  width: 80%;
  display: flex;
}

.apps-button path {
  fill: #63666d;
}

header button:hover {
  background-color: #f0f0f0;
}

.user-avatar div {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-color: #dadce0;
}

/* main */

main {
  flex: auto;
  padding: 15px;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 25px;
  
  min-height: 275px;
  height: calc(100% - 60px - 15px - 15px);
}

/* logo */

.logo h1 {
  display: flex;
  font-size: 80px;
  cursor: default;
  letter-spacing: -2.5px;
}

.logo-blue {
  color: #4284f5;
}

.logo-red {
  color: #ea4335;
}

.logo-yellow {
  color: #fbbc05;
}

.logo-green {
  color: #35a953;
}

/* search */

search {
  width: 100%;
}

search form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  width: 100%;
}

.search-box {
  display: flex;
  align-items: center;

  border: 1px solid #dee0e5;
  border-radius: 25px;

  height: 45px;

  width: 66%;
  min-width: 250px;
  max-width: 555px;

  padding: 8px;
}

.search-box input {
  flex: auto;
  background-color: transparent;
  height: 100%;
  border: none;
  color: #000000;
  font-size: 16px;
}

.search-box input::-webkit-search-cancel-button {

}

/* search icon */

.search-box span {
  width: 20px;
  height: 20px;
  margin: 8px;
}
.search-box span svg path {
  fill: #a5a9ae;
}

/* search type icons */

.search-box button {
  margin: 8px;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;

  cursor: pointer;
}

.search-box input:focus {
  outline: none;
}

.search-button-container {
  display: flex;
  gap: 15px
}

.search-button {
  background-color: #f9f8fa;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;

  border: 1px solid transparent;

  font-size: 14px;
}

.search-button:hover {
  border: 1px solid #dadce0;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

main section aside {
  font-size: small;
}

/* footer */

footer {
  font-size: 15px;
}

footer section {
  border-bottom: 1px solid #dadce0;
}

footer nav {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  flex: auto;

}

footer nav ul {
  display: flex;
  gap: 25px;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
}

footer nav ul:first-child {
  margin-right: auto;
}

footer section, footer a {
  color: #70757a;
}

footer section, footer nav {
  background-color: #f2f3f3;
  display: flex;
  align-items: center;
  padding: 15px;
}
